{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>Welcome to Ernir.net</h1>
<div class="row">
    <div class="col-sm-6">
        <p>This is Eiríkur Ernir Þorsteinsson's generic personal website.
            It has
            limited content and no interesting stylesheets.</p>

        <p>Things Ernir has deemed fit to link to include...</p>

        {% autoescape off %}
        {% for section in sections %}
            <h2>{{ section.title }}</h2>
            <div>{{ section.text }}</div>
            {% for subsection in section.subsections.all %}
                <h4>{{ subsection.title }}</h4>
                <div>{{ subsection.text }}</div>
            {% endfor %}
        {% endfor %}
        {% endautoescape %}
    </div>
    <div class="col-sm-6">
        <div class="text-center">
            <canvas id="myCanvas" width="320" height="320">
                Sorry, your browser does not support the HTML5 canvas tag.
                You'd be watching an animation if it did.
            </canvas>
            <p>Pictured: Not a QR code, but a <a
                    href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway's
                game of Life</a> implementation seeded with a random
                initial population.
            </p>
            <button class="button" onclick="toggleSimulation(this);">Run
                simulation
            </button>
        </div>
    </div>
</div>

{% endblock %}

{% block more_js %}
    <script src="{% static "gameOfLife.js" %}"></script>
{% endblock %}