{% extends 'base.html' %}

{% block content %}

    <div class="blog-header">
        <h1 class="blog-title"><a href="{% url "blog.views.index" %}">Ernir writes</a></h1>

        <p class="lead blog-description">on computers and society, apparently.</p>
    </div>

    <div class="row">
        <div class="col-sm-8 blog-main">
            {% block blog_main %}
                This is always overridden.
            {% endblock blog_main %}

        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module">
                <h4>About</h4>

                <p>This looks an awful lot like a blog. But it's not logging anything but the number of times I've put myself on a soapbox.</p>
            </div>
            <div class="sidebar-module">
                <h4>Languages</h4>

                <p>Show only articles in <a href="/blog/en/">English</a> or
                    <a href="/blog/is/">Icelandic</a></p>
                <h4>Tags</h4>
                {% for tag in tags %}
                    <a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}
                        ({{ tag.num_tags }})</a>
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- /.blog-sidebar -->
    </div>

{% endblock %}