{% extends 'blog_shared.html' %}

{% block blog_main %}
    <hr/>
    {% for entry in entries %}
        <h4>
            <a href="/blog/entry/{{ entry.slug }}/">{{ entry.title }}</a>
            <small>({{ entry.published }})</small>
        </h4>
        <p>
            {{ entry.excerpt }}
        </p>
        <p>
        <span>
            {% if entry.comments.count == 1 %}
                1 comment.
            {% else %}
                {{ entry.comments.count }} comments.
            {% endif %}
        </span>
        <span>
            Language:
            {% if entry.language == "EN" %}
                <a href="/blog/en/">English.</a>
            {% else %}
                <a href="/blog/is/">Icelandic.</a>
            {% endif %}
        </span>
        <span>
            Tags:
            {% for tag in entry.tags.all %}
                <a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>
                {% if not forloop.last %},{% endif %}
            {% endfor %}
        </span>
        </p>
        {% if not forloop.last %}<hr/>{% endif %}
    {% endfor %}

{% endblock %}