{% extends "blog_shared.html" %}

{% block meta %}
    <title>Ernir.net - {{ entry.title }}</title>
    <meta property="og:url"           content="http://eirikur.ernir.net/blog/entry/{{ entry.slug }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Ernir.net" />
    <meta property="og:description"   content="{{ entry.excerpt }}" />
    <!-- ToDo: host the image somewhere. -->
    <meta property="og:image"         content="http://i.imgur.com/sdj8QYS.jpg" />
{% endblock %}

{% block blog_main %}
<div class="blog-post">
    <h2 class="blog-post-title"><a
            href="/blog/entry/{{ entry.slug }}/">{{ entry.title }}</a></h2>

    <div class="blog-post-body">
        {% autoescape off %}
        {{ entry.body }}
        {% endautoescape %}
    </div>

    <p class="blog-post-meta">
        <b>Posted:</b> {{ entry.published }}
    </p>

    <p class="blog-post-meta">
        <b>Tags:</b>
        {% for tag in entry.tags.all %}
            <a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>
            {% if not forloop.last %},{% endif %}
        {% endfor %}
    </p>
</div>
{% endblock blog_main %}