<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li {% if sitename == "Heim" %} class="active" {% endif %} >
                <a href="/">Heim</a>
                </li>
                <li {% if sitename == "CV" %} class="active" {% endif %} >
                <a href="/ferilskra/">CV</a>
                </li>
                <li {% if sitename == "Hafa samband" %} class="active" {% endif %} >
                <a href="/hafasamband/">Hafa samband</a>
                </li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div><!-- /.navbar -->