{% extends "skeleton.jinja2" %}

{% block head %}
    {% include "includes/meta.jinja2" %}
    {% include "includes/css.jinja2" %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <title>Ernir.net - {{ sitename }}</title>

{% endblock head %}

{% block content %}

    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="#">New Blog</a></li>
                <li><a href="#comments">Comments</a></li>
                <li><a href="#">Blogs</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>

            <h2 id="comments">Comments</h2>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Content</th>
                        <th>Date</th>
                        <th>Author</th>
                        <th>Blog</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for comment in comments %}
                        <tr id="row-{{ comment.id }}">
                            <td>
                                {{ comment.id }}
                            </td>
                            <td>
                                {{ comment.content }}
                            </td>
                            <td>
                                {{ comment.date }}
                            </td>
                            <td>
                                {{ comment.author.nickname }}
                            </td>
                            <td>
                                <a href="/blog/{{ comment.blog.url }}">{{ comment.blog.title }}</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-warning delete-comment-button">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}

{% block footer %}
    {% include "includes/footer.jinja2" %}
    {% include "includes/js.jinja2" %}
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock footer %}