{% extends "skeleton.jinja2" %}
{% block content %}
    <h1>Curriculum Vitae</h1>

    <div class="row col-md-12">
        <p>My CV is currently available in .pdf format. (<a href="{{ url_for('static', filename='content/CV/CV.pdf') }}">English</a>, <a href="{{ url_for('static', filename='content/CV/Ferilskrá.pdf') }}">Icelandic</a> )</p>
    </div>
{% endblock content %}