{% extends "skeleton.jinja2" %}
{% block content %}
    <h1>Curriculum Vitae</h1>

    <div class="row col-md-12">
        <p>This page does not yet exist in English. You may be interested in <a href="/ferilskra/">my CV in Icelandic.</a></p>
    </div>
{% endblock content %}