{% extends "skeleton.jinja2" %}
{% block content %}

    {% from "macros/cv.jinja2" import short_cv_row,long_cv_row %}

    <h1>Ferilskrá</h1>
    <div class="row"> <!-- picture container -->
        <div class="row col-md-10">
            <div class="row col-md-10"> <!-- menntun -->
                <h2 class="col-md-12">Menntun</h2>

                {{ long_cv_row( "2009 - 2013", "BS í tölvunarfræði",  "Háskóli Íslands",  "<p>Reiknifræðikjörsvið. Fyrsta einkunn.</p>" ) }}

                {{ long_cv_row("2005-2007",  "Stúdentspróf",  "Menntaskólinn við Hamrahlíð", "<p>Náttúrufræðibraut. Ágætiseinkunn.</p>" ) }}
            </div>
            <!-- /menntun -->

            <div class="row col-md-10"><!-- störf -->
                <h2 class="col-md-12">Störf</h2>

                {{ long_cv_row( "2013 - í dag","Kennari","Tækniskólinn í Reykjavík","<p>Kenni 16-20 ára nemendum forritun. Meðal áfanga eru þráðavinnsla (Java), notkun gagnasafna (MySQL), smátækjaforritun (Java - Android), reiknirit (Python) og vefforritun (ýmis mál)</p> <p>Afrek:</p> <ul><li>Bjó til nýja áfanga í reikniritum og Android-forritun við skólann.</li><li>Endurskipulagði áfanga skólans í þráðavinnslu sem og framhaldsdeildaráfanga í vefforritun.</li></ul></br>") }}

                {{ long_cv_row("2012","Android-forritari","Stokkur Mobile Software","<p>Androidforritun frá A-Ö, þ.m.t. rökhlutar, framendaþróun og bakendavinna.</p><p>Meðal appa sem ég kom að eru</p></p><ul><li><a href='https://play.google.com/store/apps/details?id=is.stokkur.dominos'>Dominos</a></li><li><a href='https://play.google.com/store/apps/details?id=is.stokkur.rush.android'>Inspired by Iceland</a></li><li><a href='https://play.google.com/store/apps/details?id=is.stokkur.redknapp.android'>Reykjavík Excursions</a></li><li><a href='https://play.google.com/store/apps/details?id=is.stokkur.handbolti.android'>Handbolti</a></li></ul></br>") }}

                {{ long_cv_row("2010 - 2013",  "Aðstoðarkennari", "Háskóli Íslands", "<p>Kenndi dæmatíma í viðmótsforritun (2013) og tölvunarfræði 1a (2010, 2011).</p></br>" ) }}

                {{ long_cv_row( "2011", "Rannsóknarverkefni", "Háskóli Íslands", "<p>Smíði bestunarlíkana er tengjast þróunarhæfni notendaviðmóta. Rannsóknarverkefni styrkt af Rannís. Útfært í Matlab og GLPK.</p>" ) }}
            </div>
            <!-- /störf -->
            <div class="row col-md-12"><!-- viðurkenning -->
                <h2 class="col-md-12">Viðurkenning</h2>
                {{ short_cv_row("2007","Viðurkenning fyrir frábæran námsárangur í eðlisfræði við Menntaskólann við Hamrahlið.") }}
            </div>
            <!-- /viðurkenning -->
            <div class="row col-md-12"> <!-- tölvuþekking -->
                <h2 class="col-md-12">Forritunar- og tölvuhæfileikar</h2>
                {{ short_cv_row("Mikil þekking","Java/Android, Matlab/GNU Octave, LaTeX") }}
                {{ short_cv_row("Þekking","Python, JavaScript/jQuery/HTML(5), Linux") }}
                {{ short_cv_row("Nokkur þekking","SQL (MySQL, SQLite), PHP, Git, SVN") }}
            </div>
            <!-- /tölvuþekking -->

            <div class="row col-md-12"> <!-- samskiptahæfileikar -->
                <h2 class="col-md-12">Samskiptahæfileikar</h2>

                <div>
                    {{ short_cv_row("2010 - í dag","Mikil reynsla af kennslu og fyrirlestrahaldi.") }}

                    {{ short_cv_row("2007 - 2010","Flokkstjóri hjá Kirkjugörðum Reykjavíkurprófastsdæma, vann náið með unglingum.") }}

                </div>
            </div>
            <!-- /samskiptahæfileikar -->

            <div class="row col-md-12">
                <h2 class="col-md-12">Áhugamál</h2>

                <div class="col-md-12">
                    <ul>
                        <li>Hlutverkaspil - Spilun og hönnun</li>
                        <li>Borðspil</li>
                        <li>Lyftingar</li>
                        <li>Að skrifa allt í LaTeX</li>
                    </ul>
                </div>
            </div>

        </div>

        <img src="{{ url_for('static',filename='img/Ernir.jpg') }}" class="col-md-2 hidden-xs hidden-sm"
             alt="Prófílmynd">
    </div> <!-- /picture container -->

{% endblock content %}