{% extends "skeleton.jinja2" %}
{% block content %}
<div class="row col-md-6">
    <div class="row">
        <h2>Auðkenni</h2>
    </div>
    <div class="row">
        <div class="col-sm-3"><b>Nafn:</b></div>
        <div class="col-sm-9">Eiríkur Ernir Þorsteinsson</div>
    </div>
    <div class="row">
        <div class="col-sm-3"><b>Sími:</b></div>
        <div class="col-sm-9">699-4392</div>
    </div>
    <div class="row">
        <div class="col-sm-3"><b>Heimilisfang:</b></div>
        <div class="col-sm-9">Rauðarárstígur 3</div>
    </div>
    <div class="row">
        <div class="col-sm-3"><b>Netfang:</b></div>
        <div class="col-sm-9"><a href="mailto:e.ernir@gmail.com">e.ernir@gmail.com</a></div>
    </div>
    <div class="row">
        <div class="col-sm-3"><b>Kennitala:</b></div>
        <div class="col-sm-9">211087-3909</div>
    </div>
</div>
<div class="row col-md-6">
    <div class="row">
        <h2>Opnir reikningar</h2>
    </div>
    <div class="row">
        <div class="col-sm-3"><b>Twitter:</b></div>
        <div class="col-sm-9"><a href="https://twitter.com/bokabeus">@bokabeus</a></div>
    </div>
    <div class="row">
        <div class="col-sm-3"><b>StackExchange:</b></div>
        <div class="col-sm-9"><a href="http://stackexchange.com/users/1847662/ernir">Ernir</a></div>
    </div>
    <div class="row">
        <div class="col-sm-3"><b>Github:</b></div>
        <div class="col-sm-9"><a href="https://github.com/Ernir">Ernir</a></div>
    </div>
</div>
{% endblock content %}