{% extends "skeleton.jinja2" %}
{% block content %}
    <h2 class="row col-md-12">Almenn, innihaldslítil heimasíða</h2>

    <div class="row col-md-12">
        <p>Hér getur að líta heimasíðu Eiríks Ernis Þorsteinssonar.</p>

        <p>Ernir er tölvunarfræðingur, forritunarkennari við Tækniskólann í Reykjavík og alhliða nörd.</p>
    </div>
{% endblock content %}