{% extends "skeleton.jinja2" %}
{% block content %}
    <h2 class="row col-md-12">A Generic Website with Limited Content</h2>

    <div class="row col-md-12">
        <p>This is the homepage of Eiríkur Ernir Þorsteinsson.</p>

        <p>Ernir is a computer scientist, a programming teacher at Reykjavík Technical College, and a nerd.</p>
    </div>
{% endblock content %}