{% extends "blog.jinja2" %}

{% block blog_main %}
    <script src="//cdn.ckeditor.com/4.4.4/standard/ckeditor.js"></script>
    <div class="blog-post">
        <h2 class="blog-post-title"><a href="/blog/{{ blog.url }}">{{ blog.title }}</a></h2>

        <div class="blog-post-body">{{ blog.body }}</div>
        <br/>

        <p class="blog-post-meta">
            <b>Posted:</b> {{ blog.date.strftime("%Y-%m-%d") }}
        </p>

        <p class="blog-post-meta">
            <b>Tags:</b>
            {% for tag in blog.tags %}
                <a href="/blog/tags/{{ tag.name }}">{{ tag.name }}</a>
                {%- if not loop.last %},{% endif %}
            {% endfor %}
        </p>

        <h3>Comments</h3>

        <div class="comment-section">
            <div class="comment-list">
            {% if blog.comments|length != 0 %}
                {% for comment in blog.comments %}
                    <div class="comment">
                        <p>
                            <b>On {{ comment.date.strftime("%Y-%m-%d") }}, {{ comment.author.nickname }}
                                said:</b></p>
                    </div>
                    <p>{{ comment.content }}</p>
                {% endfor %}
            {% else %}
                <p>No comments yet.</p>
            {% endif %}
            </div>

            {% if logged_in %}
                <form action="" method="post" name="comment" class="comment-form">
                    {{ form.hidden_tag() }}
                    {{ form.text(cols="60", rows="5") }}

                    <p><input type="hidden" name="blog-id" value="{{ blog.id }}"></p>

                    <p><input type="submit" value="Add comment" class="btn btn-default"></p>
                </form>
                <script> CKEDITOR.replace("text"); </script>
            {% else %}
                <a href="/login">Log in</a> to comment.
            {% endif %}
        </div>
    </div>
{% endblock blog_main %}